@import './variables';

@mixin flex-directions($direction){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}
@mixin flex($position){
    display: flex;
    justify-content: $position;
    align-items: center;
}
@mixin boxsize($height,$width){
    height: $height;
    width: $width;
}
@mixin transition-ease{
    transition: all 0.2s ease-in-out;
}
@mixin font-size($text){
    font-size: map-get($font-sizes, $text );
}
@mixin font-weight($key){
    font-weight: map-get($font-weights, $key );
}