<article class="talent">
  <div class="talent-picture">
    <div></div>
  </div>
  <div class="talent-skills">
    <div class="talent-skills__rating">
      <div>$50/hr</div>
      <div>5.0</div>
    </div>
    <div class="talent-skills__name">
      <div>
        <h2>ALILI Ilyes</h2>
      </div>
      <div>
        <h4>Front-end Developper</h4>
      </div>
    </div>
    <div class="talent-skills__skill">
      <div class="skill" *ngFor="let item of skills">
        <p>{{ item }}</p>
      </div>
    </div>
  </div>
  <div class="talent-visit">
    <button>
      <p>Visit Profile</p>
    </button>
  </div>
</article>
