@import "./../mixins";
@import "./../variables";

@keyframes fleche-right {
    from {
        padding-left: 0;
    }
    to {
       padding-left: 3%
    }
  }


.question-div {
  @include boxsize(16vh, 55vw);
  @include flex(center);
  @include flex-directions(row);
  background-color: $bg-white-color;
  border: 0.5px $secondary-color solid;
  cursor: pointer;
  margin: 5%;

  div {
    @include boxsize(100%, 100%);
    @include flex(center);
  }
  div:first-child {
    flex: 80%;
    // background-color: aqua;
    padding-left: 3%;
    p {
      @include font-size(text1_2);
      @include font-weight(regular);
      color: $secondary-color;
    }
  }
  div:last-child {
    flex: 20%;
    background-repeat: no-repeat;
  }
  &:hover {
    div:last-child {
        animation: fleche-right 0.5s ease-in-out forwards;
    }
  }
}
