@import "./../mixins";
@import "./../variables";

.apply {
  @include boxsize(50vh, 100%);
  @include flex(center);
  @include flex-directions(column);

  div:first-child {
    @include boxsize(100%, 100%);
    @include flex-directions(column);
    @include flex(center);
    flex: 70%;

    p:first-child,
    p:nth-child(2) {
      @include font-size(text2);
      @include font-weight(bold);
      color: $secondary-color;
    }
    p:nth-child(5),
    p:nth-child(6),
    p:nth-child(7) {
      @include font-size(text1);
      @include font-weight(regular);
      color: $secondary-color;
    }
  }
  div:last-child {
    @include boxsize(100%, 100%);
    display: flex;
    justify-content: center;
    flex: 30%;
    
    button {
      @include flex-directions(row);
      @include boxsize(55%, 22%);
      border: none;
      border-radius: 7px;
      background-color: $secondary-color;
      cursor: pointer;

      p {
        @include boxsize(100%, 100%);
        @include flex(center);
        @include font-size(text1);
        @include font-weight(bold);
        color: $bg-white-color;
      }
      &:hover {
          animation: slide-right 0.5s ease-in-out forwards;
          background-color: #001732;
      }
    }
  }
}
