* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Montserrat;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Montserrat;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Montserrat;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Montserrat;
}

.low-header {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 70vh;
}
.low-header.low-header > div {
  height: 100%;
  width: 100%;
}
.low-header__top {
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 6%;
  flex: 30%;
}
.low-header__top p {
  font-size: 22pt;
  font-weight: 600;
  padding-top: 2%;
  color: #3e3e3e;
}
.low-header__bottom {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding-left: 32%;
  margin-top: -10%;
  flex: 70%;
  overflow-x: auto;
  white-space: nowrap;
  cursor: pointer;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Montserrat;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Montserrat;
}

.talent-landingpage {
  height: 160vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #002a58;
}
.talent-landingpage__title {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
  padding-top: 3%;
  flex: 22%;
}
.talent-landingpage__title p {
  font-size: 22pt;
  font-weight: 700;
  color: #ffffff;
}
.talent-landingpage__title p:last-child {
  font-size: 12pt;
  font-weight: 400;
  padding-top: 2%;
  color: #ffffff;
}
.talent-landingpage__pepole {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
  flex: 68%;
}
.talent-landingpage__explore {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex: 15%;
}
.talent-landingpage__explore button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 35%;
  width: 20%;
  border: none;
  border-radius: 7px;
  background-color: #2b7b60;
  cursor: pointer;
}
.talent-landingpage__explore button p {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 13pt;
  font-weight: 500;
  padding-left: 14%;
  color: #ffffff;
}
.talent-landingpage__explore button p:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/fleches.png");
  background-repeat: no-repeat;
  background-position: 70% center;
  background-size: 8%;
}
.talent-landingpage__explore button:hover p:last-child {
  animation: slide-right 0.5s ease-in-out forwards;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Montserrat;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Montserrat;
}

.apply {
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.apply div:first-child {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 70%;
}
.apply div:first-child p:first-child,
.apply div:first-child p:nth-child(2) {
  font-size: 20pt;
  font-weight: 700;
  color: #002a58;
}
.apply div:first-child p:nth-child(5),
.apply div:first-child p:nth-child(6),
.apply div:first-child p:nth-child(7) {
  font-size: 13pt;
  font-weight: 400;
  color: #002a58;
}
.apply div:last-child {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex: 30%;
}
.apply div:last-child button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 55%;
  width: 22%;
  border: none;
  border-radius: 7px;
  background-color: #002a58;
  cursor: pointer;
}
.apply div:last-child button p {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13pt;
  font-weight: 700;
  color: #ffffff;
}
.apply div:last-child button:hover {
  animation: slide-right 0.5s ease-in-out forwards;
  background-color: #001732;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Montserrat;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Montserrat;
}

.question {
  height: 85vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #2b7b60;
}
.question p {
  font-size: 20pt;
  font-weight: 700;
  padding-top: 5%;
  color: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Montserrat;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Montserrat;
}

footer {
  height: 50vh;
  width: 100%;
  background-color: #002a58;
}

@keyframes slide-right {
  from {
    background-position: 70% center;
  }
  to {
    background-position: 80% center;
  }
}
article {
  width: 100%;
  height: 100%;
}

.header-first {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #f5f5f5;
  margin-top: 6%;
  height: 80vh;
}
.header-first__left {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 60%;
}
.header-first__left__title {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 35%;
}
.header-first__left__title__paragraphe {
  height: 100%;
  width: 100%;
  font-weight: 700;
  font-size: 40pt;
  padding-top: 10%;
  padding-left: 10%;
  color: #002a58;
}
.header-first__left__title__paragraphe2 {
  height: 100%;
  width: 100%;
  font-weight: 400;
  font-size: 20pt;
  padding-left: 10%;
  color: #3e3e3e;
}
.header-first__left__explore {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 100%;
  width: 100%;
  padding-left: 10%;
  flex: 25%;
}
.header-first__left__explore button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border: none;
  border-radius: 7px;
  background-color: #2b7b60;
  cursor: pointer;
  height: 40%;
  width: 38%;
}
.header-first__left__explore button p {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 14%;
  font-weight: 700;
  font-size: 13pt;
  color: #ffffff;
}
.header-first__left__explore button p:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/fleches.png");
  background-repeat: no-repeat;
  background-position: 70% center;
  background-size: 8%;
}
.header-first__left__explore button:hover p:last-child {
  animation: slide-right 0.5s ease-in-out forwards;
}
.header-first__left__trusted {
  height: 100%;
  width: 100%;
  flex: 30%;
}
.header-first__left__trusted p {
  height: 100%;
  width: 100%;
  position: relative;
  top: 8%;
  padding-left: 10%;
  font-weight: 700;
  font-size: 13pt;
  color: #3e3e3e;
}
.header-first__right {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  flex: 40%;
  padding-top: 1.5%;
}
.header-first__right div {
  height: 100%;
  width: 100%;
  background-image: url("../../assets/bg-header.png");
  background-size: cover;
}/*# sourceMappingURL=landingpage.component.css.map */