<app-navbar></app-navbar>
<article>
  <header class="header-first">
    <div class="header-first__left">
      <div class="header-first__left__title">
        <p class="header-first__left__title__paragraphe">
          Hire best talents based <br />
          on your needs
        </p>
        <br />
        <p class="header-first__left__title__paragraphe2">
          Explore top rated freelancers
        </p>
      </div>
      <div class="header-first__left__explore">
        <button>
          <p>Explore</p>
          <p>&nbsp;</p>
        </button>
      </div>
      <div class="header-first__left__trusted">
        <p>Trusted By</p>
      </div>
    </div>
    <div class="header-first__right">
      <div></div>
    </div>
  </header>
  <div class="low-header">
    <div class="low-header__top">
      <p>Popular professional services</p>
    </div>
    <div class="low-header__bottom">
      <app-categories></app-categories>
      <app-categories></app-categories>
      <app-categories></app-categories>
      <app-categories></app-categories>
      <app-categories></app-categories>
      <app-categories></app-categories>
      <app-categories></app-categories>
    </div>
  </div>
  <div class="talent-landingpage">
    <div class="talent-landingpage__title">
      <p>
        Expert Talent in Our <br />&nbsp;&nbsp;&nbsp;&nbsp; Network from
        <br />&nbsp;&nbsp;&nbsp; Different Sector
      </p>
      <p>
        Delve into a verified list of top talents from different <br />
        &nbsp;&nbsp;&nbsp;&nbsp; industry providing freelancing service for
        years <br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        with proficiency and results.
      </p>
    </div>
    <div class="talent-landingpage__pepole">
      <app-talent></app-talent>
      <app-talent></app-talent>
      <app-talent></app-talent>
    </div>
    <div class="talent-landingpage__explore">
      <button>
        <p>Explore</p>
        <p>&nbsp;</p>
      </button>
    </div>
  </div>
  <div class="apply">
    <div>
      <p>Join our team of skilled workers! We're hiring for</p>
      <p>a variety of roles</p>

      <br><br>
      <p>
        Work with us and grow your career. Our outsourcing company offers
        opportunities for
      </p>
      <p>professional development and a supportive team environment. Apply</p>
      <p>today to take your career to the next level.</p>
    </div>
    <div>
      <button>
        <p>Apply Now</p>
      </button>
    </div>
  </div>
  <div class="question">
    <p>Frequently Asked Questions</p>
    <app-question></app-question>
    <app-question></app-question>
    <app-question></app-question>
  </div>
  <footer>

  </footer>
</article>
