@import '../variables';
@import '../mixins';
@import './popular_cat.scss';
@import './talent.scss';
@import './apply.scss';
@import './question.scss';
@import './footer.scss';


@keyframes slide-right {
    from {
        background-position:70% center;
    }
    to {
        background-position:80% center;
    }
  }


article{
    width: 100%;
    height: 100%;
}

.header-first{
    @include flex-directions(row);
    background-color: $bg-color;
    margin-top:6% ;
    height: 80vh;

    &__left{
        @include flex(center);
        @include boxsize(100%,100%);
        @include flex-directions(column);
        flex:60%;

        &__title{
            @include boxsize(100%,100%);
            @include flex-directions(column);
            @include flex(center);
            flex: 35%;

            &__paragraphe{
                @include boxsize(100%,100%);
                @include font-weight(bold);
                @include font-size(text4);
                padding-top: 10%;
                padding-left: 10%;
                color: $secondary-color;
            }
            &__paragraphe2{
                @include boxsize(100%,100%);
                @include font-weight(regular);
                @include font-size(text2);
                padding-left: 10%;
                color: $gray-color;
            }
            
        }
        &__explore{
            @include flex(left);
            @include boxsize(100%,100%);
            padding-left: 10%;
            flex: 25%;
            button{
                @include flex-directions(row);
                border: none;
                border-radius: 7px;
                background-color: $praimary-color;
                cursor: pointer;
                height: 40%;
                width: 38%;
              
                p{
                    @include boxsize(100%,100%);
                    @include flex(left);
                    padding-left: 14%;
                    @include font-weight(bold);
                    @include font-size(text1);
                    color: $bg-white-color;
                }
                p:last-child{
                    @include flex(center);
                    background-image: url("../../assets/fleches.png");
                    background-repeat: no-repeat;
                    background-position:70% center;
                    background-size: 8%;
                }
                
                &:hover{
                    p:last-child{
                        animation: slide-right 0.5s ease-in-out forwards;
                    }
                }
                
            }
        }
        &__trusted{
            @include boxsize(100%,100%);
            flex: 30%;
            p{
                @include boxsize(100%,100%);
                position: relative;
                top: 8%;
                padding-left: 10%;
                @include font-weight(bold);
                @include font-size(text1);
                color: $gray-color;
            }
        }
    }
    &__right{
        @include flex(center);
        @include boxsize(100%,100%);
        flex: 40%;
        padding-top: 1.5%;
        div{
            @include boxsize(100%,100%);
            background-image: url("../../assets/bg-header.png");
            background-size: cover;
        }

    }
}