@import "./../variables";
@import "./../mixins";

.low-header {
  @include flex(center);
  @include flex-directions(column);
  height: 70vh;

  &.low-header > div {
    @include boxsize(100%, 100%);
  }

  &__top{
    @include flex(left);
    padding-left: 6%;
    flex: 30%;
    p{
        @include font-size(text3);
        font-weight: 600;
        padding-top: 2%;
        color: $gray-color;
    }
  }
  &__bottom{
    @include boxsize(100%,100%);
    @include flex-directions(row);
    padding-left: 32%;
    margin-top: -10%;
    flex: 70%;
    overflow-x: auto;
    white-space: nowrap;
    cursor: pointer;
  }
}
