@import "./../mixins";
@import "./../variables";

.talent-landingpage {
  @include boxsize(160vh, 100%);
  @include flex(center);
  @include flex-directions(column);
  background-color: $secondary-color;

  &__title {
    @include boxsize(100%, 100%);
    @include flex-directions(column);
    display: flex;
    justify-content: center;
    padding-top: 3%;
    flex: 22%;
    p {
      @include font-size(text3);
      @include font-weight(bold);
      color: $bg-white-color;

      &:last-child {
        @include font-size(text0);
        @include font-weight(regular);
        padding-top: 2%;
        color: $bg-white-color;
      }
    }
  }
  &__pepole {
    @include boxsize(100%, 100%);
    @include flex-directions(column);
    display: flex;
    justify-content: center;
    flex: 68%;
  }
  &__explore {
    @include boxsize(100%, 100%);
    display: flex ;
    justify-content: center;
    // background-color: aqua;
    flex: 15%;
    button {
      @include flex-directions(row);
      @include boxsize(35%,20%);
      border: none;
      border-radius: 7px;
      background-color: $praimary-color;
      cursor: pointer;

      p {
        @include boxsize(100%, 100%);
        @include flex(left);
        @include font-size(text1);
        @include font-weight(meduim);
        padding-left: 14%;
        color: $bg-white-color;
      }
      p:last-child {
        @include flex(center);
        background-image: url("../../assets/fleches.png");
        background-repeat: no-repeat;
        background-position: 70% center;
        background-size: 8%;
      }

      &:hover {
        p:last-child {
          animation: slide-right 0.5s ease-in-out forwards;
        }
      }
    }
  }
}
