# Ignore compiled Python files
__pycache__/
*.pyc

# Ignore virtual environment
venv/

# Ignore logs
*.log

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore environment-specific files
.env

# Ignore dependency files
requirements.txt